# Acceso a datos en Python

Vamos a crear la base de datos tienda.db en SQLite, para ello:

1. Comenzaremos por importar la librería de sqlite3.
2. Mediante el método connect() realizaremos una conexión con la base de datos almacenadaen el archivo tienda.db en el directorio actual. Si el archivo no existe, se creará uno nuevo.
3. Con el cursor ejecutaremos declaraciones para comunicarnos con la base de datos.
4. Mediante el primer método execute, borraremos la tabla clientes si ya existe, esto lo vamos a realizar para evitar errores.
5. El segundo método crea la tabla clientes con 4 columnas: id, nombre, apellido y teléfono.
6. Con close() cerramos la conexión con la base de datos.

In [22]:
import sqlite3

conn = sqlite3.connect('tienda.db')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS clientes')
cur.execute('CREATE TABLE clientes (id INTEGER, nombre TEXT, apellido TEXT, telefono INTEGER)')

conn.close()

7. Vamos a introducir los datos de los clientes en la tabla, para ello utilizaremos un INSERT INTO.
8. Mediante commit() guardamos los datos.

In [23]:
import sqlite3

conn = sqlite3.connect('tienda.db')
cur = conn.cursor()

cur.execute('INSERT INTO clientes (id, nombre, apellido, telefono) VALUES (?, ?, ?, ?)',
    (1, 'Pablo', 'García', 123456789))
cur.execute('INSERT INTO clientes (id, nombre, apellido, telefono) VALUES (?, ?, ?, ?)',
    (2, 'Gema', 'Lorca', 987654321))
cur.execute('INSERT INTO clientes (id, nombre, apellido, telefono) VALUES (?, ?, ?, ?)',
    (3, 'David', 'Martinez', 214365879))
cur.execute('INSERT INTO clientes (id, nombre, apellido, telefono) VALUES (?, ?, ?, ?)',
    (4, 'Luna', 'Pérez', 896745231))
 
conn.commit()

9. Vamos a realizar una secuencia Select para leer los datos de la tabla clientes.

In [24]:
import sqlite3

conn = sqlite3.connect('tienda.db')
cur = conn.cursor()

print('clientes:')
cur.execute('SELECT * FROM clientes')
for fila in cur:
     print(fila)

clientes:
(1, 'Pablo', 'García', 123456789)
(2, 'Gema', 'Lorca', 987654321)
(3, 'David', 'Martinez', 214365879)
(4, 'Luna', 'Pérez', 896745231)

10. Ahora borraremos el cliente cuyo id es igual a 3.

In [25]:
import sqlite3

conn = sqlite3.connect('tienda.db')
cur = conn.cursor()

cur.execute('DELETE FROM clientes WHERE id = 3')
conn.commit()

cur.close()

11. Volvemos a realizar el Select para comprobar que los datos se han borrado correctamente.

In [26]:
import sqlite3

conn = sqlite3.connect('tienda.db')
cur = conn.cursor()

print('clientes:')
cur.execute('SELECT * FROM clientes')
for fila in cur:
     print(fila)

clientes:
(1, 'Pablo', 'García', 123456789)
(2, 'Gema', 'Lorca', 987654321)
(4, 'Luna', 'Pérez', 896745231)

12. Mediante el método Update cambiaremos el teléfono de uno de los clientes, en este caso cuyo id es 1.

In [27]:
import sqlite3

conn = sqlite3.connect('tienda.db')
cur = conn.cursor()

cur.execute('UPDATE clientes SET telefono = 654321987 WHERE id = 1')
conn.commit()

cur.close()

13. Y por último realizamos otro Select para comprobar que los datos se han cambiado correctamente.

In [28]:
import sqlite3

conn = sqlite3.connect('tienda.db')
cur = conn.cursor()

print('clientes:')
cur.execute('SELECT * FROM clientes')
for fila in cur:
     print(fila)

clientes:
(1, 'Pablo', 'García', 654321987)
(2, 'Gema', 'Lorca', 987654321)
(4, 'Luna', 'Pérez', 896745231)